# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
venv/

# Environment Variables
.env

# Media uploads
media/profile_pics/
!media/default.png

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db